
.main--wrapper{
    margin-top: 9.5%;
    
    
}
.main-contents{
    padding-left:5rem;
    border-bottom: 1px solid silver;  
    font-family: 'Ubuntu',sans-serif;
    color:black;
    font-weight: 700;
    font-size: 2rem;
}
.setup--line , .punch--line{
    padding-bottom: 25px;
    padding-top: 0.3rem;
}
.punch--line{
    letter-spacing: 0.03em;
    line-height: 3rem;
    color:blueviolet;
}

.view--btn{
    border-radius: 5px;
    background:linear-gradient(90deg,#672280 1.18%,#A626D3 100%);
    text-align: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    border: none;
    color: silver;
    font-size:1.3rem;
    margin-bottom: 40px;
}
